.navigation{
    height: 500px;
    width: 100%;
    /* background-color: rgb(102, 99, 99); */
    background-image: url('BG-2.jpg');
    background-size: cover;

}

.nav{
    height: 100px;
    width: 100%;
}

.nav-ul {
    text-align: center;
    margin: auto;
    
}
.nav li{
    list-style:none;

    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 10PX;
    color: white;
    display: inline-block;
    width: 100px;
    margin: 10px;
}

.nav a{
    color: white;
}

.nav ul li a{
    text-decoration: none;

}
.nav li:hover{
    cursor: pointer;
    background-color: darkgrey;
}
.heading{
    margin-top: 100px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    font-family:  Georgia, serif;
    margin-left: 40px;
}
.about
{
    width: 100%;
    height: 600px;
    list-style: none;
    text-align:center;
    /* display: inline block; */
    /* margin-top: 10px; */
    background-image: url(bg-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-heading
{
    text-align: center;
   
    width: 50%;
    float: left;
    padding: 60px;
    /* border: 2px solid red; */
    margin-top: 100px;

}

#abt-me{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 30px;
}
.services {
    background-image: url(bg-4.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.services::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.services .content {
    z-index: 999;
    position: relative;
    color: #FFF;
}

.services .content h2 {
    color: #FFF;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.services .content .single-service {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 30px;
    transition: .4s all ease-in-out;
    height:  300px;
    weight: 50%;
}

.services .content .single-service:hover {
    background-color: rgba(0, 0, 0, .5);
}

.services .content .single-service * {
    text-align: center;
}

.services .content .single-service i {
    font-size: 3rem;
    color: rgb(75, 201, 64);
    text-align: center;
    display: block;
    margin-bottom: 20px;
    transition: .3s;
}

.services .content .single-service:hover i {
    color: var(--primary-color);
}

.services .content .single-service h4 {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 600;
}

.services .content .single-service p {
    font-size: 1rem;
    color: #f1f1f1;
    text-align: justify;
}




.footerr
{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}